<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 引入默认的日志格式设置。里面包含CONSOLE的日志格式了 -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!--读取spring配置文件上的属性-->
    <springProperty scope="context" name="app.name" source="spring.application.name"/>
    <!-- 当前实例  外部属性 DSERVICE_INSTANCE_INDEX 默认0  -->
    <property name="INSTANCE_INDEX" value="${SERVICE_INSTANCE_INDEX:-0}"/>
    <!-- 文件名称 -->
    <property name="LOG_FILE_NAME" value="${SERVICE_LOG_FOLDER:-logs}/logs/${app.name}/server${INSTANCE_INDEX}"/>
    <!-- error -->
    <property name="ERROR_LOG_FILE_NAME" value="${LOG_FILE_NAME}_error"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- Minimum logging level to be presented in the console logs-->
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ALL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
            <!-- 延迟刷盘，缓存大小8k -->
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ERROR_LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ERROR_LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="ASYNC_ALL_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,
            则会丢弃TRACT、DEBUG、INFO级别的日志 -->  
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 --> 
        <queueSize>2048</queueSize>  
        <includeCallerData>true</includeCallerData>
         <!-- 添加附加的appender,最多只能添加一个 -->     
        <appender-ref ref="ALL_FILE"/>
    </appender>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="ASYNC_ALL_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>
    </springProfile>


</configuration>
